name: main

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v2

            # - run: clang-format -i src/*.{c,h}
            # - run: git diff --name-only --exit-code

            - run: ./build.bat
